<div style="background-color: #ccc;margin:25px;box-shadow: 2px 2px 2px #111">
    <div class="splashcontainer">
      <div class="blurb">
        <div style="background-color: rgba(67, 125, 255, 0.94);box-shadow: 2px 2px 2px #111;width: 300px;text-align: center"><span >it's a simple concept start with this and end up with that. can't get any better than that, huh?</span></div>
        get free quote
        learn more
      </div>

      <div style="background-image: url('general/1.jpg');">
      </div>
      <div>
        <%# image_tag "general/2.jpeg", class:"img-responsive" %>
      </div>
      <div>
        <%# image_tag "general/3.jpg", class:"img-responsive" %>
      </div>
    </div>
</div>

<div class="titlebox">
  <span>About Us</span>
</div>
something something 2017
<div class="titlebox">
  <span>Team</span>
</div>
richard jeff nic
<div class="titlebox">
  <span>Services</span>
</div>
 ->box + icon / 3
<div class="titlebox">
  <span>Portfolio</span>
</div>
here's some examples of work we've done
<div class="titlebox">
  <span>Pricing</span>
</div>
pricing options
<div class="titlebox">
  <span>Contact</span>
</div>