<!--<div style="background-color: #ccc;margin:25px;box-shadow: 2px 2px 2px #111">-->
    <!--<div class="splashcontainer">-->
      <!--<div class="blurb">-->
        <!--<div style="background-color: rgba(67, 125, 255, 0.94);box-shadow: 2px 2px 2px #111;width: 300px;text-align: center"><span >it's a simple concept start with this and end up with that. can't get any better than that, huh?</span></div>-->
        <!--get free quote-->
        <!--learn more-->
      <!--</div>-->

      <!--<div style="background-image: url('general/1.jpg');">-->
      <!--</div>-->
      <!--<div>-->
        <!--<%# image_tag "general/2.jpeg", class:"img-responsive" %>-->
      <!--</div>-->
      <!--<div>-->
        <!--<%# image_tag "general/3.jpg", class:"img-responsive" %>-->
      <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="titlebox">-->
  <!--<span>About Us</span>-->
<!--</div>-->
<!--something something 2017-->
<!--<div class="titlebox">-->
  <!--<span>Team</span>-->
<!--</div>-->
<!--richard jeff nic-->
<!--<div class="titlebox">-->
  <!--<span>Services</span>-->
<!--</div>-->
 <!-- ->box + icon / 3-->
<!--<div class="titlebox">-->
  <!--<span>Portfolio</span>-->
<!--</div>-->
<!--here's some examples of work we've done-->
<!--<div class="titlebox">-->
  <!--<span>Pricing</span>-->
<!--</div>-->
<!--pricing options-->
<!--<div class="titlebox">-->
  <!--<span>Contact</span>-->
<!--</div>-->

<!--<div class="test">-->
  <!--<div style="position: absolute;">-->
    <!--<svg height="250" width="500" style="z-index:2;filter: drop-shadow( 5px 5px 5px #222 );">-->
      <!--<defs>-->
        <!--<linearGradient id="grad1" x1="10%" y1="80%" x2="80%" y2="90%">-->
          <!--<stop offset="0%" style="stop-color:#00beca;stop-opacity:1" />-->
          <!--<stop offset="100%" style="stop-color:#685bc9;stop-opacity:1" />-->
        <!--</linearGradient>-->
      <!--</defs>-->
      <!--<polygon points="0 120,420 120,500 0,0 0" style="fill:url(#grad1);" />-->
      <!--<text fill="#ffffff" font-size="60" x="100" y="75">portfolio</text>-->
    <!--</svg>-->
  <!--</div>-->
  <!--<div style="margin:10px;padding-top: 10px">-->
    <!--<svg height="1000" width="1000" style="">-->
      <!--<polygon points="0 1000,1000 1000,1000 0,0 0" style="fill:#888;" />-->
    <!--</svg>-->
  <!--</div>-->
<!--</div>-->

<div class="ctnbox test" style="padding-bottom:10%">

  <div style="width:100%;">
    <div style="position: absolute;left:0;margin-top:12%;margin-left:15%;width:70%;height:50vw;z-index: 10;border:thin #aaa solid;background-color: #888;border-radius: 1%;padding:2% 5% 1.5% 3%;box-shadow: 2px 4px 5px #333">
      <h1 style="font-size:2.8vw;color:#eee">"Something something, nice to meet you" - Anonymous</h1>
      <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
      <p style="margin-top:3%;color:#eee;font-size:2vw;text-align: right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet autem consequatur delectus dolorem eos facere in inventore natus nostrum officiis quae quaerat quis rem saepe tempora, vel voluptatem voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam amet blanditiis, doloribus expedita illo ipsa iusto labore libero nesciunt nisi pariatur quas quod quos reprehenderit sint vel vero.</p>
    </div>
    <div style="position: absolute;left:0;margin-left:9.5%;width:30%;height:8vw">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( 5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad1" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#9501c9;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#c9596b;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="0 100,90 100,100 0,0 0" style="fill:url(#grad1);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >About Us</text>
      </svg>
    </div>

    <div style="position: absolute;right:0;width:10%;margin-top:0.5%;height:87.8vw;">
      <div style="width:100%;height:100%;position:absolute;">
        <div style=";width:20vw;position: absolute;bottom:0;right:0;margin-right:150%;margin-bottom:120%;background-color: #c9596b;border-radius: 5px;text-align: center;padding:8px 2px 8px 2px;font-size: 20px">
          <span style="color:#fff;top:25px;">button example</span>
        </div>
      </div>

      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 0,0 91,100 100,100 9" style="fill:#333;" />
      </svg>
    </div>

    <div style="padding: 0.5% 10% 0% 10%;">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 80,20 100,100 100,100 0,0 0" style="fill:#666;" />
      </svg>
    </div>
    <div style="margin-left:11%;margin-top:-7px;height:8vw">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="16.5 0,28 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />
      </svg>
    </div>

  </div>
</div>

<div class="test" style="padding-bottom:10%">

  <div style="width:100%;">
    <div style="position: absolute;left:0;margin-top:12%;margin-left:15%;width:70%;height:50vw;z-index: 10;border:thin #aaa solid;background-color: #888;border-radius: 1%;box-shadow: -2px 4px 5px #333;padding:2% 5% 1.5% 3%">
      <h1 style="font-size:2.8vw;color:#eee">"Something something, nice to meet you" - Anonymous</h1>
      <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
      <p style="margin-top:3%;color:#eee;font-size:2vw;text-align: right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet autem consequatur delectus dolorem eos facere in inventore natus nostrum officiis quae quaerat quis rem saepe tempora, vel voluptatem voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam amet blanditiis, doloribus expedita illo ipsa iusto labore libero nesciunt nisi pariatur quas quod quos reprehenderit sint vel vero.</p>
    </div>
    <div style="position: absolute;right:0;margin-right:9.5%;width:30%;height:8vw">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( -5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad2" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#00beca;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#685bc9;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="10 100,100 100,100 0,0 0" style="fill:url(#grad2);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >left box</text>
      </svg>
    </div>
    <div style="position: absolute;left:0;width:10%;margin-top:0.5%;height:87.8vw;">
      <div style="width:100%;height:100%;position:absolute;">
        <div style=";width:20vw;position: absolute;bottom:0;left:0;margin-left:150%;margin-bottom:120%;background-color: rgba(62, 213, 255, 0.94);border-radius: 5px;text-align: center;padding:8px 2px 8px 2px;font-size: 20px">
          <span style="color:#fff;top:25px;">button example</span>
        </div>
      </div>

      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 9,0 100,100 91,100 0" style="fill:#333;" />
      </svg>
    </div>
    <div style="padding: 0.5% 10% 0% 10%;">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 0,0 100,80 100,100 80,100 0" style="fill:#666;" />
      </svg>
    </div>
    <div style="margin-right:11%;margin-top:-7px;height:8vw">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 100,72 100,83.5 0,0 0" style="fill:#0c0c0c;" />
      </svg>

      <!--<polygon points="16.5 0,28 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />-->

    </div>

  </div>
</div>




<div class="test">

  <div style="width:100%;">

    <div style="position: absolute;left:0;margin-left:14.5%;width:30%;height:8vw">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( 5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad3" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#00c926;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#5aabc9;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="0 100,90 100,100 0,0 0" style="fill:url(#grad3);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >right box</text>
      </svg>
    </div>
    <div style="position: absolute;right:0;width:15.2%;margin-top:0.5%;height:84.9vw">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 0,0 82.3,100 100,100 15" style="fill:#333;" />
      </svg>
    </div>
    <div style="padding: 0.5% 15% 0% 15%;">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 80,20 100,100 100,100 0,0 0" style="fill:#888;" />
      </svg>
    </div>
    <div style="margin-left:15%;margin-top:-7px;height:15vw">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="16.5 0,34 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />
      </svg>
    </div>

  </div>
</div>