<br>

<div class="s" style="border:thin red solid;width:50%;height:50vw;margin:10% 25vw 0% 25vw;position:relative;display:inline-block">
  <div id="outro" class="animated fadeOut" style="position:absolute"><%= image_tag "general/left.png", :class => "img-responsive animated fadeInLeft" %></div>
  <div id="outro" class="animated fadeOut" style="position:absolute;right:0"><%= image_tag "general/right.png", :class => "img-responsive animated fadeInRight" %></div>
  <div id="goldfade" class="animated fadeIn" style="position:absolute;left:20px;"><%= image_tag "general/gold.png", :class => "img-responsive" %></div>
</div>

<div id="about_us" class="ctnbox" style="padding-top:10%">
  <div class="shadowboxcontainer">
    <div class="shadowboxright-innerbox">

        <ul class="filtermenu">
        <li class="faa-float bubbly-button faa-float animated-hover" data-filter="mission">Mission</li>
        <li class="faa-float bubbly-button faa-float animated-hover" data-filter="concept">Concept</li>
        <li class="faa-float bubbly-button faa-float animated-hover" data-filter="history">History</li>
        <li class="faa-float bubbly-button faa-float animated-hover" data-filter="history">Question</li>
        </ul>
        <div class="container">
        <div class="post history">
          <div class="post-title">
            <h1 style="font-size:1.8vw;color:white; text-align: center; text-shadow: 2px 2px black;">HISTORY</h1>
            <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
          </div>
          <div class="post-txt">
            <p style="margin-top:3%;color:white;font-size:1.0vw;text-align: left;">Noctiflow Technologies is a Vancouver based web design company that was founded in 2017.</p>
            <center><span style="color: white;" class="material-icons faa-wrench animated faa-slow"><i class="fa fa-book" aria-hidden="true"></i></span></center>
          </div>
        </div>
        <!-- /post -->
        <div class="post concept">
          <div class="post-title">
            <h1 style="font-size:1.8vw;color:white; text-align: center; text-shadow: 2px 2px black;">FROM CONCEPT TO PRODUCT</h1>
            <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
          </div>
          <div class="post-txt">
            <p style="margin-top:3%;color:white;font-size:1.0vw;text-align: left;">We have you covered every step of the way, from drafting and wireframing to deployment and maintenance. Anything from simple, single page designs to fully-fledged web applications.</p>

            <p style="margin-top:3%;color:white;font-size:1.0vw;text-align: left;">Allowing users to have straight-forward, enjoyable experiences on the web is fundamental in our design. We custom tailor our websites from top to bottom to leave lasting impressions.</p>
            <center><i style="color: white;" class="material-icons faa-spin animated">settings</i></center>
          </div>
        </div>
        <!-- /post -->
        <div class="post mission">
          <div class="post-title">
            <h1 style="font-size:1.8vw;color:white; text-align: center; text-shadow: 2px 2px black;">MISSION</h1>
            <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
          </div>
          <div class="post-txt">
            <p style="margin-top:3%;color:white;font-size:1.0vw;text-align: left;">NOTHING SPEAKS LOUDER THAN QUALITY DESIGN WITH GENUINE SERVICES <center style="color:white;font-size:1.0vw;">- TEAM NOCTIFLOW</center></p>
            <p style="margin-top:3%;color:white;font-size:1.0vw;text-align: left;">We know how important it is to have the right Logo and Designs to achieve the best marketing outcome for your business and that is why Noctiflow will make that happen for you.</p>
            <center><i style="color: white;" class="material-icons faa-bounce animated">thumb_up</i></center>
          </div>
        </div>
        <!-- /post -->
        <div class="post question">
          <div class="post-title">
            <h1 style="font-size:1.8vw;color:white; text-align: center; text-shadow: 2px 2px black;">QUESTION</h1>
            <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
          </div>
          <div class="post-txt">
            <p style="margin-top:3%;color:white;font-size:1.0vw;text-align: center;"> You have questions? We have the answers!</p>
            <p style="margin-top:3%;color:white;font-size:1.0vw;text-align: center;">Contact us if you have any questions regarding the services we provide</p>
            <center><i style="color: white; margin-top: 2%;" class="material-icons faa-shake animated">mail_outline</i></center>
          </div>
        </div>
        <!-- /post -->
      </div>
    </div>
    <div class="shadowboxright-header">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( 5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad1" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#9501c9;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#c9596b;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="0 100,90 100,100 0,0 0" style="fill:url(#grad1);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >ABOUT US</text>
      </svg>
    </div>

    <div class="shadowboxright-right">
      <div class="shadowboxbuttoncontainer">
        <div class="shadowboxbuttonright">
          <!-- <a class="btn bubbly-button" style="background-color:#c9596b; color: white; top:25px;">More</a> -->
        </div>
      </div>

      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 0,0 91,100 99,100 9" style="fill:#333;" />
      </svg>
    </div>

    <div class="shadowbox-bg">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 80,20 100,100 100,100 0,0 0" style="fill:#666;" />
      </svg>
    </div>
    <div class="shadowboxright-bottom">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="16.5 0,26 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />
      </svg>
    </div>

  </div>
</div>

<!-- <div id='stars2'></div> -->

<div id="services" class="ctnbox" style="padding-top:10%">
  <div class="shadowboxcontainer">
    <div class="shadowboxleft-innerbox">

      <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:2%; padding-bottom: 3%;"></div>
      <div class="col-md-4">

        <p style="margin-top:3%;color:#eee;font-size:1.3vw;text-align: left; text-shadow: 2px 2px black;"> <i style="color:palegoldenrod;font-size:1.5vw; border: 2px solid palegoldenrod; border-radius: 999px; padding: 4px;" class="material-icons faa-pulse animated">build</i> WEB DESIGN</p>
        <center>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">WordPress Site</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">e-Commerce Site</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Single Page Site</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Website Redesign</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Web Application</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Maintenance</div>
        </center>
      </div>
      <div class="col-md-4">
        <p style="margin-top:3%;color:#eee;font-size:1.3vw;text-align: center; text-shadow: 2px 2px black;"> <i style="color:palegoldenrod;font-size:1.5vw; border: 2px solid palegoldenrod; border-radius: 999px; padding: 4px;" class="material-icons faa-pulse animated"><i class="material-icons">camera_enhance</i></i> GRAPHIC</p>
        <center>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Custom Design</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">UX/UI Design</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Photography</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Logo Design</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover"> Business Card</div>
        </center>
      </div>
      <div class="col-md-4">
        <p style="margin-top:3%;color:#eee;font-size:1.3vw;text-align: center; text-shadow: 2px 2px black;"> <i style="color:palegoldenrod;font-size:1.5vw; border: 2px solid palegoldenrod; border-radius: 999px; padding: 4px;" class="material-icons faa-pulse animated">lightbulb_outline</i> MARKETING</p>
        <center>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">SEO</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Optimization</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Translation</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Tech Consulting</div>
          <div style="background-color: black; color: palegoldenrod; margin: 8px;" class="chip z-depth-5 faa-float animated-hover">Traffic Analysis</div>
        </center>
      </div>
      <div style="padding-top: 2%;" class="col-md-12">
        <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:2%;margin-bottom:4%;"></div>
      </div>
    </div>
    <div class="shadowboxleft-header">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( -5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad2" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#00beca;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#685bc9;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="10 100,100 100,100 0,0 0" style="fill:url(#grad2);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >Services</text>
      </svg>
    </div>
    <div class="shadowboxleft-left">
      <div class="shadowboxbuttoncontainer">
        <div class="shadowboxbuttonleft">
          <a class="btn bubbly-button" style="background-color:rgba(62, 213, 255, 0.94); color: white; top:25px;">More</a>
        </div>
      </div>

      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 9,0 99,100 91,100 0" style="fill:#333;" />
      </svg>
    </div>
    <div class="shadowbox-bg">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 0,0 100,80 100,100 80,100 0" style="fill:#666;" />
      </svg>
    </div>
    <div class="shadowboxleft-bottom">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 100,72 100,83.5 0,0 0" style="fill:#0c0c0c;" />
      </svg>

      <!--<polygon points="16.5 0,28 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />-->

    </div>

  </div>
</div>

<div id="portfolio" class="ctnbox" style="padding-top:10%">
  <div class="shadowboxcontainer">
    <div class="shadowboxright-innerbox">
      <h1 style="font-size:2.8vw;color:#eee">"Something something, nice to meet you" - Anonymous</h1>
      <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
      <p style="margin-top:3%;color:#eee;font-size:1.3vw;text-align: right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet autem consequatur delectus dolorem eos facere in inventore natus nostrum officiis quae quaerat quis rem saepe tempora, vel voluptatem voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam amet blanditiis, doloribus expedita illo ipsa iusto labore libero nesciunt nisi pariatur quas quod quos reprehenderit sint vel vero.</p>
    </div>
    <div class="shadowboxright-header">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( 5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad3" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#00c926;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#5aabc9;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="0 100,90 100,100 0,0 0" style="fill:url(#grad3);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >Portfolio</text>
      </svg>
    </div>

    <div class="shadowboxright-right">
      <div class="shadowboxbuttoncontainer">
        <div class="shadowboxbuttonright">
          <a href="/portfolio" class="btn bubbly-button" style="background-color:rgba(62, 213, 255, 0.94); color: white; top:25px; text-decoration: none;">More</a>
        </div>
      </div>

      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 0,0 91,100 99,100 9" style="fill:#333;" />
      </svg>
    </div>

    <div class="shadowbox-bg">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 80,20 100,100 100,100 0,0 0" style="fill:#666;" />
      </svg>
    </div>
    <div class="shadowboxright-bottom">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="16.5 0,26 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />
      </svg>
    </div>

  </div>
</div>


<div id="team" class="ctnbox" style="padding-top:10%">
  <div class="shadowboxcontainer">
    <div class="shadowboxleft-innerbox">
      <h1 style="font-size:2.8vw;color:#eee">"Something something, nice to meet you" - Anonymous</h1>
      <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
      <p style="margin-top:3%;color:#eee;font-size:2vw;text-align: right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet autem consequatur delectus dolorem eos facere in inventore natus nostrum officiis quae quaerat quis rem saepe tempora, vel voluptatem voluptates.</p>
    </div>
    <div class="shadowboxleft-header">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( -5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad2" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#00beca;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#685bc9;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="10 100,100 100,100 0,0 0" style="fill:url(#grad2);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >Team</text>
      </svg>
    </div>
    <div class="shadowboxleft-left">
      <div class="shadowboxbuttoncontainer">
        <div class="shadowboxbuttonleft">
          <span style="color:#fff;top:25px;">More</span>
        </div>
      </div>

      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 9,0 99,100 91,100 0" style="fill:#333;" />
      </svg>
    </div>
    <div class="shadowbox-bg">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 0,0 100,80 100,100 80,100 0" style="fill:#666;" />
      </svg>
    </div>
    <div class="shadowboxleft-bottom">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 100,72 100,83.5 0,0 0" style="fill:#0c0c0c;" />
      </svg>

      <!--<polygon points="16.5 0,28 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />-->

    </div>

  </div>
</div>

<div id="pricing" class="ctnbox" style="padding-top:10%">
  <div class="shadowboxcontainer">
    <div class="shadowboxright-innerbox">
      <h1 style="font-size:2.8vw;color:#eee">"Something something, nice to meet you" - Anonymous</h1>
      <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
      <p style="margin-top:3%;color:#eee;font-size:1.3vw;text-align: right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet autem consequatur delectus dolorem eos facere in inventore natus nostrum officiis quae quaerat quis rem saepe tempora, vel voluptatem voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam amet blanditiis, doloribus expedita illo ipsa iusto labore libero nesciunt nisi pariatur quas quod quos reprehenderit sint vel vero.</p>
    </div>
    <div class="shadowboxright-header">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( 5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad3" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#00c926;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#5aabc9;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="0 100,90 100,100 0,0 0" style="fill:url(#grad1);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >Pricing</text>
      </svg>
    </div>

    <div class="shadowboxright-right">
      <div class="shadowboxbuttoncontainer">
        <div class="shadowboxbuttonright">
          <span style="color:#fff;top:25px;">More</span>
        </div>
      </div>

      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 0,0 91,100 99,100 9" style="fill:#333;" />
      </svg>
    </div>

    <div class="shadowbox-bg">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 80,20 100,100 100,100 0,0 0" style="fill:#666;" />
      </svg>
    </div>
    <div class="shadowboxright-bottom">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="16.5 0,26 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />
      </svg>
    </div>

  </div>
</div>


<div id="contact_us" class="ctnbox" style="padding-top:10%">
  <div class="shadowboxcontainer">
    <div class="shadowboxleft-innerbox">
      <h1 style="font-size:2.8vw;color:#eee">"Something something, nice to meet you" - Anonymous</h1>
      <div style="border-top:thin #ccc solid;width:50%;margin-left: 25%;margin-top:4%"></div>
      <p style="margin-top:3%;color:#eee;font-size:2vw;text-align: right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet autem consequatur delectus dolorem eos facere in inventore natus nostrum officiis quae quaerat quis rem saepe tempora, vel voluptatem voluptates.</p>
    </div>
    <div class="shadowboxleft-header">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" style="z-index:2;filter: drop-shadow( -5px 5px 5px #222 );
          padding-left:0px;" >
        <defs>
          <linearGradient id="grad2" x1="10%" y1="80%" x2="80%" y2="90%">
            <stop offset="0%" style="stop-color:#00beca;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#685bc9;stop-opacity:1" />
          </linearGradient>
        </defs>
        <polygon points="10 100,100 100,100 0,0 0" style="fill:url(#grad2);" />
        <text fill="#ffffff" transform="scale(0.4,1.5)" font-size="30" x="120" y="45" text-anchor="middle" alignment-baseline="central" >Contact Us</text>
      </svg>
    </div>
    <div class="shadowboxleft-left">
      <div class="shadowboxbuttoncontainer">
        <div class="shadowboxbuttonleft">
          <span style="color:#fff;top:25px;">More</span>
        </div>
      </div>

      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 9,0 99,100 91,100 0" style="fill:#333;" />
      </svg>
    </div>
    <div class="shadowbox-bg">
      <svg height="100%" width="100%" viewBox="0 0 100 100">
        <polygon points="0 0,0 100,80 100,100 80,100 0" style="fill:#666;" />
      </svg>
    </div>
    <div class="shadowboxleft-bottom">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0 100,72 100,83.5 0,0 0" style="fill:#0c0c0c;" />
      </svg>

      <!--<polygon points="16.5 0,28 100,100 100,100 0,0 0" style="fill:#0c0c0c;" />-->

    </div>

  </div>
</div>
