.contactform {
  background-color:rgba(192,192,192,0.8);
  box-shadow: 6px 16px 16px rgb(128,128,128);
  width:40vw;
  border-radius: 20px;
  overflow: scroll;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: left;
}

textarea {
  resize: none;
}
