.contactform {
  background-color:#33332E;
  box-shadow: 10px 16px 16px rgb(128,128,128);
  width:30vw;
  overflow: scroll;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: left;
  font-family: Courier;
}

.contactheader{
  position: relative;
  background-color: black;
  min-width: 100%;
  min-height: 5vh;
  text-align: center;
  color: white;

p{
  font-family: Courier;
  font-weight: bold;
}

}

textarea {
  resize: none;
}

.form-control {
  background-color: rgba(0,0,0,0.6);
  color: white;
  border-radius: 35px;
}
