
img {
	max-width: 100%;
}

.filtermenu {
	width:100%;
	text-align: center;
    padding-top:7px;
    padding-bottom:5px;
    padding-left: 0;
    background: rgba(0,0,0,0.5);

	 li {

		//padding: 4px 15px;
		display: inline-block;
		border-radius: 2px;
		cursor: pointer;
        color: white;


		 &:focus {

		 }

	}
}

.bt2{&:hover{
  color: rgba(178, 58, 110, 0.94);
}}
.bt1{&:hover{
  color: rgba(178, 67, 81, 0.94);
}}
.bt3{&:hover{
  color: rgba(178, 75, 65, 0.94);
}}
.bt4{&:hover{
  color: rgba(178, 96, 62, 0.94);
}}

.filterbtn {
  //background:black !important;
  //color: palegoldenrod !important;
  border-bottom: thin white solid;
}


.container {
	width:100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.post {
	width: 100%;
	margin: 10px;


	&-title {
    width: 100%;
		// font-size: 18px;
		// font-weight: bold;
		//  margin-bottom:10px;
	}

	&-thumb {
		margin-bottom:10px;
	}

	&-txt {
		// font-size: 12px;
	}
}
