//keep all global styling in this file
.shadowboxright-bottom{
  margin-left:11%;
  margin-top:-7px;
  height:5.2vw;
}
.shadowboxleft-bottom {
  margin-right: 11%;
  margin-top: -7px;
  height: 5.2vw;
}
.shadowbox-bg{
  padding: 0.5% 10% 0% 10%;
}
.shadowboxright-right{
  position: absolute;
  right:0;
  width:10%;
  margin-top:0.5%;
  height:100%;
}
.shadowboxleft-left {
  position: absolute;
  left: 0;
  width: 10%;
  margin-top: 0.5%;
  height: 100%;
}
.shadowboxbuttoncontainer{
  width:100%;
  height:100%;
  position:absolute;
}
.shadowboxbuttonright{
  width:20vw;
  position:absolute;
  bottom:0;
  right:0;
  margin-right:150%;
  margin-bottom:120%;
  // background-color: #c9596b;
  border-radius: 5px;
  text-align: center;
  padding:8px 2px 8px 2px;
  font-size: 20px
}
.shadowboxbuttonleft {
  width: 20vw;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 150%;
  margin-bottom: 120%;
  // background-color: rgba(62, 213, 255, 0.94);
  border-radius: 5px;
  text-align: center;
  padding: 8px 2px 8px 2px;
  font-size: 20px
}
.shadowboxcontainer{
  width:70%;
  position:relative;
  margin:0% 15% 10% 15%;
}
.shadowboxright-innerbox{
  position:absolute;
  left:0;
  margin-top:13%;
  margin-left:15%;
  width:70%;
  height:55%;
  z-index: 10;
  border:thin #aaa solid;
  background-color: #888;
  border-radius: 1%;
  padding:2% 5% 1.5% 3%;
  box-shadow: 2px 4px 5px #333;
}
.shadowboxleft-innerbox{
  position:absolute;
  left:0;
  margin-top:13%;
  margin-left:15%;
  width:70%;
  height:55%;
  z-index: 10;
  border:thin #aaa solid;
  background-color: #888;
  border-radius: 1%;
  padding:2% 5% 1.5% 3%;
  box-shadow: -2px 4px 5px #333;
}
.shadowboxright-header{
  position:absolute;
  left:0;
  margin-left:9.5%;
  width:36%;
  height:11%;
}
.shadowboxleft-header {
  position: absolute;
  right: 0;
  margin-right: 9.5%;
  width: 36%;
  height: 11%;
}
*{
  //border:lime solid thin;
  // color: #222;
}

.titlebox {
  text-align: center;
  font-size: 22px;
  background-color: #ccc;
  height: 75px;
  padding: 15px;
  margin: 25px;
  box-shadow: 2px 2px 2px #111;
  font-size: 35px;
}
.test{
  // margin:25px;
  // width:100%;
}
.imagestack{
  position: relative;
  width:100%;
}
.blurb{
  position: absolute;
  z-index:1;
}
.stacked{
  position: absolute;
}
.splashcontainer{
  position: relative;
}
.cutCorner {
  position:relative; background-color:#222;
  border:1px solid silver; display: inline-block;
  width:100%;
  height:100px;
}

.cutCorner img {
  display:block;
}

.cutCorner:before {
  position:absolute; left:-1px; top:-1px; content:'';
  border-top: 70px solid silver;
  border-right: 70px solid transparent;
}

.cutCorner:after {
  position:absolute; left:-2px; top:-2px; content:'';
  border-top: 70px solid white;
  border-right: 70px solid transparent;
}


// ============================================================================


html, body {
background: black;
max-height: 95%;
}

body{
  position: relative;
}

.navbar-fixed {position: absolute;z-index:999999999;}

.menubtn:hover {
  opacity: 1 !important;
}
.ctnbox {

}

.side-nav{
  background-color: rgba(0,0,0, 0.8) !important;
  width: 15% !important;
}

.side-nav li > a {
  color: white !important;
  // text-align: center !important;
}
