//keep all global styling in this file
*{
  //border:lime solid thin;
  color: #222;
}
body{
  background-color: #222;
}
.titlebox {
  text-align: center;
  font-size: 22px;
  background-color: #ccc;
  height: 75px;
  padding: 15px;
  margin: 25px;
  box-shadow: 2px 2px 2px #111;
  font-size: 35px;
}
.test{
  //margin:25px;
  //width:100%;
}
.imagestack{
  position: relative;
  width:100%;
}
.blurb{
  position: absolute;
  z-index:1;
}
.stacked{
  position: absolute;
}
.splashcontainer{
  position: relative;
}
.cutCorner {
  position:relative; background-color:#222;
  border:1px solid silver; display: inline-block;
  width:100%;
  height:100px;
}

.cutCorner img {
  display:block;
}

.cutCorner:before {
  position:absolute; left:-1px; top:-1px; content:'';
  border-top: 70px solid silver;
  border-right: 70px solid transparent;
}

.cutCorner:after {
  position:absolute; left:-2px; top:-2px; content:'';
  border-top: 70px solid white;
  border-right: 70px solid transparent;
}